.container {
  margin: 120px 10px 0 240px;
  padding: 20px;
  background-color: $card-background;
  min-height: calc((97vh + 10px) - 120px);
  border-radius: 10px;
  @include ipad {
    margin-left: 90px;
  }

  .title {
    color: $text;
    @include mobile {
      text-align: center;
    }
  }

  .song {
    &-list {
      margin-top: 50px;
      @include dflex(space-between, center);
      flex-wrap: wrap;
      gap: 20px;
      @include mobile {
        justify-content: center;
      }
    }

    &-detail {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    & {
      position: relative;
      width: 220px;
      height: 300px;
      background-color: $color;
      padding: 20px;
      border-radius: 10px;
      color: $text;

      &:hover .play-btn {
        bottom: 120px;
        opacity: 1;
        pointer-events: auto;
      }

      .play-btn {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 20px;
        bottom: 50px;
        background-color: $spotify-color;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        font-size: 22px;
        color: $text;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      &-img {
        height: 150px;
        width: 100%;
      }

      img {
        border-radius: 5px;
      }
    }
  }
}
