.footer-container {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding: 0 30px;
  background: linear-gradient(to right, black, $spotify-color);
  display: flex;
  align-items: center;
  @include mobile {
    padding: 0 10px;
  }

  .footer {
    width: 100%;
    @include dflex(space-between, center);

    audio {
      @include mobile {
        width: 50%;
      }
    }

    .song {
      &-detail {
        @include dflex(center, center);
        gap: 30px;
        color: white;

        &-title {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }

      &-img {
        width: 70px;
        height: 70px;

        img {
          border-radius: 50%;
        }
      }
    }
  }
}
