.header {
  position: fixed;
  top: 10px;
  right: 10px;
  left: 240px;
  background-color: $card-background;
  z-index: 1;
  border-radius: 10px;
  padding: 0 20px;
  height: 80px;
  @include dflex(space-between, center);
  transition: all 0.3s ease;
  @include ipad {
    left: 90px;
  }

  &.active {
    border-radius: 10px 10px 0 0;
  }

  .form {
    width: 30%;
    @include dflex(center, center);
    @include ipad {
      width: 90%;
    }

    &-input,
    &-btn {
      background-color: black;
      color: $text;
      padding: 10px;
      font-size: 15px;
    }

    &-input {
      width: calc(100% - 35px);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &-btn {
      width: 35px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      cursor: pointer;
    }
  }

  .nav {
    @include dflex(center, center);
    gap: 10px;
    @include ipad {
      display: none;
    }

    &-item {
      padding: 10px;

      &.active {
        background-color: $spotify-color;
        border-radius: 10px;

        a {
          color: black;
        }
      }
    }
  }
}
